html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header{
    display: flex;
    justify-content:space-around;
    border: 20px; 
    font-size: 30px;
    
    
}

.navbar{
    display: flex;
    justify-content:space-around;
    border: 20px; 
    color:white;
    background-color: black;
    font-size: 20px
    
    
}


.footer{
    display:flex;
    justify-content:center;
    
}
.aboutMain{
    display:flex;
}
.leftPane{
  width: 30%;
    
}
.rightPane{
    width: 70%;

    
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    
}

.home-img{
   width: 100%;
}
    
body{
background-color: white;
}

a { 
    color: white;
}

.char
{
    color:black;
    
}

.thumbnail-image
{
    width: 470px;
    height:300px;
    
    margin: 5px;
    
}

.brookk
{
  text-align: center;
    padding: 20px;
   

    
}

.about-text
{
     margin: auto;
     width: 50%;
     border: 3px solid black;
     padding: 10px;
}

.luffy-image
{
   width: 1500px;
    height:auto;
    border-image: url(border.png) 30 round;
}

.leftPane
{
     font-size: 30px;
}

.clicks
{
    font-size: 40px;
    font-style: italic;
}

.abs
{
    font-size: 40px;
    text-align: center;
    font-style: italic;
}
.cdd
{
   
    font-size: 20px;
}

.pope
{
    width:1000px;
    height:auto;
}