html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header{
    display: flex;
    justify-content:space-around;
    border: 20px; 
    font-size: 30px;
    
    
}

.navbar{
    display: flex;
    justify-content:space-around;
    border: 20px; 
    color:white;
    background-color: black;
    font-size: 20px
    
    
}


.footer{
    display:flex;
    justify-content:center;
    
}
.aboutMain{
    display:flex;
}
.leftPane{
  width: 30%;
    
}
.rightPane{
    width: 70%;

    
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    
}

.home-img{
   width: 100%;
}
    
body{
background-color: white;
}

a { 
    color: white;
}

.char
{
    color:black;
    
}

.thumbnail-image
{
    width: 500px;
    height:300px;
    padding: 10%;
}
